/* BioBox.module.css */

.bioBox {
  padding: 20px; /* Add padding to keep it from touching sides and the footer */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ccc;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for hover effect */
  margin-bottom: 30px; /* Increase margin-bottom to raise it higher */
}

.bioBox:hover {
  transform: scale(1.05); /* Zoom effect on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow on hover */
}

.bioBox p {
  margin-bottom: 16px; /* Add some bottom margin to separate paragraphs */
}

.bioBox button {
  background-color: #f30086; /* Set button background color */
  color: #fff; /* Set button text color */
  border: none; /* Remove button border */
  padding: 8px 16px; /* Add padding to button */
  border-radius: 4px; /* Add border radius to button */
  cursor: pointer; /* Set cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Add transition for background color change */
}

.bioBox button:hover {
  background-color: #0055b3; /* Darken button background color on hover */
}
.link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

