/* BioBox.module.css */

.bioBox {
  padding: 20px; /* Adjust padding to keep it from touching the sides */
  border: 1px solid #686363;
  border-radius: 8px; /* Adjust border-radius to match the card */
  background-color: #bdb8b8; /* Light grey background color */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for hover effect */
  height: 200px; /* Set a fixed height */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds the height */
  margin: 20px; /* Add margin to keep it from touching the bottom of the screen */
}

.bioBox:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow on hover */
}

.bioBox p {
  margin-bottom: 16px; /* Add some bottom margin to separate paragraphs */
}

.bioBox button {
  background-color: #0070f3; /* Set button background color */
  color: #fff; /* Set button text color */
  border: none; /* Remove button border */
  padding: 8px 16px; /* Add padding to button */
  border-radius: 4px; /* Add border radius to button */
  cursor: pointer; /* Set cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Add transition for background color change */
}

.bioBox button:hover {
  background-color: #0055b3; /* Darken button background color on hover */
}



