
.snippetContainer {
  border: 2px solid #4caf4f05; /* Green border */
  border-radius: 15px; /* Increase border radius for a softer look */
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #aca4a4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
  transition: box-shadow 0.3s ease;
}

/* Hover effect for the snippet container */
.snippetContainer:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 

  
}

.title {
  font-size: 24px; /* Increase font size for the title */
  font-weight: bold;
  margin-bottom: 20px; /* Increase margin-bottom for spacing */
  color: #e41313; /* Green color for the title */
  text-align: center; /* Center-align the title */
}

.code {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  background-color: #5e4e4e71; /* Light gray background */
  padding: 15px;
  border-radius: 8px; /* Rounded corners for code block */
  overflow-x: auto;
  margin-top: 20px; /* Increase top margin for spacing */
}


  
  
  
  