
body {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Set video width to cover the entire viewport width */
    height: 100vh; /* Set video height to cover the entire viewport height */
    object-fit: cover; /* Ensure the video covers the entire container while maintaining its aspect ratio */
    z-index: -1; /* Place the video behind other elements */
}
