
.container {
    padding: 20px;
}

.heading {
    font-size: 2rem;
    margin-bottom: 20px;
}

.ContentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: auto;
}

.cardContainer {
    display: flex;
    justify-content: space-between; /* Distribute cards evenly with space between */
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 20px; /* Add padding here */
}

.navigationButtons {
    position: absolute;
    top: 70%; /* Position buttons vertically in the middle */
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between; /* Distribute buttons evenly with space between */
    align-items: center;
    width: 100%; /* Ensure the buttons cover the entire card container */
    padding: 0 20px; /* Add padding to the left and right */
}

.navigationButtons button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0; /* Remove padding to ensure the button size matches width and height */
    margin: 0; /* Remove margin */
}

.navigationButtons button img {
    width: 24px; /* Set width for image */
    height: 24px; /* Set height for image */
}

.navigationButtons .leftButton {
    margin-left: -30px; /* Adjust margin for the left button */
}

.navigationButtons .rightButton {
    margin-right: 50px; /* Adjust margin for the right button */
}